# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
